{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} Upload your document here {% endblock %}</h2>
<form action = '/' method = "POST" 
    enctype = "multipart/form-data">
    <div class="select-file">
        <div class="main_file" >
            <input type = "file" name = "file" /><span><label class="chkLabel" for="chk"  >
                <input  type="checkbox" id="chk" name='check' value="check"/> Additional Answer File  </label></span>
        </div>
        
        <div class="answer" id="file-input" style="display:none;">
            <br>
            <p class="help-block"><strong>*Please upload your answer file here</strong></p>
            <input type="file" name="answerFile">
        </div>
        <script>
            document.getElementById('chk').onchange = function(){
            if(this.checked) {document.getElementById('file-input').style.display='block';
            //more js statements
            }
            else {document.getElementById('file-input').style.display='none';
            //more js statements
            }
            }
     </script>
    </div>
    <div class="module">
        <label for="module"><h2>Modules</h2></label>
        <div class="select-module">
        <select class="select" name="module" id="module">
            {% for module in modules %}
                <option value={{module}}>{{module}}</option>
                {% endfor %}
          </select>
        </div>
    </div>
    <br>
    <div class="submit_button">
    <input type = "submit"/>
    {% if error %}
        
        <script>
            var errortext='{{error}}';
            alert(errortext);
        </script>
        {% endif %}
    
    
</form>
{% endblock %}
